h1 {
  text-align: center;
}

div.keyboard {
  display: flex;
}

div.white {
  background-color: beige;
  color: black;
  height: 200px;
  z-index: 1;
}


div.space {
  color: beige;
  height: 100px;
  z-index: 2;
  margin-left: -13px;
  margin-right: -13px;
}

div.black {
  background-color: black;
  color: beige;
  height: 100px;
  z-index: 2;
  margin-left: -13px;
  margin-right: -13px;
}

div.space,
div.white,
div.black {
  border-radius: 8%;
  width: 30px;
  text-align: center;
  font-size: 29px;
}
