h1 {
  text-align: center;
}

div.keyboard {
  display: flex;
}

div.white {
  background-color: beige;
  color: black;
}

div.black {
  background-color: black;
  color: beige;
}

div.white,
div.black {
  border-radius: 8%;
  height: 100px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 29px;
}
